#topbar {
    position: fixed;
    width: 100%;
    height: 2cm;
    top: 0;
    left: 0;
    background-color: rgb(0, 86, 162);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
}

h1 {
    z-index: 3; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black; 
    position: relative; 
    align-self: center;
    -webkit-text-stroke: 1px white; /* Chrome/Safari */
    text-shadow:
        1px 1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white,
        0 1px 0 white,
        0 -1px 0 white,
        1px 0 0 white,
        -1px 0 0 white; /* fallback for other browsers */
}

#img01 {
    aspect-ratio: 306 / 199;
    width: 3cm;
    z-index: 4;
}

#mainBody {
    
}